@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";



$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1490px
);

$container-max-widths: (
  xl: 1350px
);

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

.pt-11 {
    padding-top: ($spacer * 11) !important;
  }

h1,h2,h3{
    font-family: 'Alegreya Sans';
    color: black;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

h1{    
    font-weight: 900;
    font-size: 64px;
}

h2{   
    font-weight: 900;
    font-size: 48px;
}

h5{
    font-weight: 800;
    font-size: 24px;
}

h6{
    font-weight: 400;
}

.textbox{
    margin-top: 220px;   
}

.photobox{
    margin-top: 220px;
}

// first page
    .first-page-section {
        min-height: 800px;
        background-color: white;
    }

    nav li a{
        color: black;
        font-weight: 500;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }

    nav li a:hover{
        color: black;
    }

    .top-buffer-page1{
        margin-top: 215px;
    }


// secong page
    .second-page-section {
        min-height: 676px;
        background-color: #146130;
    }

    .second-page-section p{
        color: white;
        font-weight: 400;
    }

    .second-page-section h1,.second-page-section h6,.second-page-section h2{
        color: white;
    }

// third page 
    .third-page-section {
        min-height: 676px;
        background-color: white;
    }

// fourth page 
    .fourth-page-section {
        min-height: 676px;
        background-color: #F2E9D8;
    }

// fifth page
    .fifth-page-section{
        min-height: 800px;
        background-color: white;
    }

    .top-buffer-page5{
        padding-top: 300px;    
    }

    .fifth-page-section a{
        border-radius: 16px;
        background-color: black;
        color: white;
        padding: 15px 20px;
    }

// footer page
    .footer-page-section{
        background-color: #146130;
        min-height: 550px;    
    }

    .footer-page-section a{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    .footer-page-section a:hover{
        color: white;
    }

