@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


$grid-breakpoints: (
    xs: 0,
    sm: 550px,
    md: 750px,
    lg: 1000px,
    xl: 1490px
);

$container-max-widths: (
  xl: 1350px
);

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";

body{
    transition: background-color 1.0s ease;
    background-color: transparent;
    color: black;    
}

@media (min-width: 1000px){
    .ml-8 {
        margin-left: ($spacer * 8) !important;
    }

    .mr-8 {
        margin-right: ($spacer * 8) !important;
    }
    
    .mt-8 {
        margin-top: ($spacer * 8) !important;
    }
}

.pt-11 {
    padding-top: ($spacer * 11) !important;
}

h1,h2,h3{
    font-family: 'Alegreya Sans';
    color: inherit;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: inherit;
}

h1{    
    font-weight: 900;
    font-size: 64px;  
}

h2{   
    font-weight: 900;
    font-size: 48px;
    // max-width: 40rem;
}

h5{
    font-weight: 800;
    font-size: 24px;
}

h6{
    font-weight: 400;
}

.textbox{
    margin-top: 220px;   
}

.photobox{
    margin-top: 220px;
}

// header page
.header-page-section,#hiddenSection{
    height: 96px;   
}

nav li a{
    color: inherit;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

nav li a:hover{
    color: inherit;
}

.navbar-light .navbar-nav .nav-link {
    color: #1C1C1C;
}

nav a h5{
    color: #1C1C1C;
    font-size: 16px;
}

.no-underline{
    text-decoration: none !important;
}

// padding for navbar brand and button
.pl-10 {
    padding-left: ($spacer * 10) !important;
}

.pr-10 {
    padding-right: ($spacer * 10) !important;
}


// first page
    .first-page-section {
        min-height: 600px;
    }

    .top-buffer-page1{
        margin-top: 400px;
    }

// secong page
    .second-page-section{
        min-height: 600px;
    }

// third page
    .third-page-section{
        min-height: 1300px;
    }

// fourth page
    .fourth-page-section{
        min-height: 1000px;
    }

    .carousel-item img{
        margin: auto;
    }

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev{
        display:block;
    }

    .carousel-indicators {
        bottom: -80px;
    }

// Fifth Page
    .fifth-page-section{
        min-height: 700px;
        background-color: #BAFFBD;
    }

    .top-buffer-page5{
        margin-top: 200px;
    }

    .fifth-page-section a{
        display: block;
        width: max-content;
    }

// footer page
.footer-page-section{
    background-color: #FFFFFF;
    min-height: 650px; 
}

.top-buffer-footer{
    margin-top: 100px;
}

.footer-page-section a{
    color: #1C1C1C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.footer-page-section a:hover{
    color: #1C1C1C;
}

.my-select {
    background-color: white;
    color: #1C1C1C;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    padding: 6px 20px;
  }
    
